
.vCenter{
	display:table-cell;
    vertical-align:middle;
    float:none;
}

.parentCenter{
	display:table;
	height: 100%;
}

#topBar{
	background-color: black;
}

.topBarHeight{
	height: 50px;
}

#topBarTitle{
	margin: 0;
	color: white;
}

#topBarRightButton{
	/*float:right;*/
	/*margin-right: 8px;*/
}

#topBarLeftButton{
	margin-left: 8px;
}

.container{
	padding: 0;
	width: 100%;
}

.tdItem {
	border-bottom-style: double;
	border-bottom-width: 3px;
	border-bottom-color: silver;
}

.trItem {
	height: 70px;
}

.redCircleDiv{
	height: 15px;
	width: 15px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	background-color: red;
}

.blueCircleDiv{
	height: 15px;
	width: 15px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	background-color: blue;
}

.popover{
	/*left: 24px !important;*/
	width: 200px;
}

.trOrder {
	height: 45px;
}

.tdOrder{
	padding: 0 !important;
}

.tdOrder p{
	margin: 0;
	
}

.popover-content{
	padding: 0 !important;
}

.radioOrder{
	margin-left: 20px;
}

.invisibleOrderButton{
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: transparent;
}

.containerCategoryFilter{
	width: 250px;
	height: 498px;
	overflow: auto;
	overflow-y: hidden; 
}

.row{
	margin: 0;
}

#filterActiveDiv{
	position: absolute;
	top: 43px;
	width: 150px;
	margin-left: 50%;
	left: -75px;
	/*.center-block();*/
}

#filterActiveButton{
	width: 100%;
}

// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topBarButtonDiv{
	text-align: center;
}
